---

---

<style>
    .container {
        display: flex;
        justify-content: center;
    }

    pre {
    padding: 10px;
    margin: 0;
  }

  img {
    border-radius: 50%;
  }

  .estado-civil {
    color: rgb(72, 156, 156);
  }

  article {
    padding: 20px;
  }
</style>

<div class="container">
    <article>
        <header>
          <h2>Sobre mi</h2>
        </header>
        <p>
          Que onda persona que visita mi web, aqui esta informacion mia por si quieres saber sobre mi, en resumen soy sebas, tengo 14 a침os y me gusta mucho hacerme la paja.
        </p>
        
          <center>
          <img src="sebas.png" width="150" height="150" alt="Foto de perfil de sebas">
        
            <br>
          <b>Yo cuando estuve en los 15 a침os de mi prima JAJAJA</b>
        </center>
        <hr>
        <label>Nombre completo</label>
      
    
        <pre>Sebastian Rascon Valadez</pre>
        <label class="estado-civil">Estado Civil</label>
        <pre>Soltero por si alguien me quiere CHII</pre>
        <label>Edad</label>
        <pre>14 a침os apenas</pre>
        <label>Lugar de nacimiento</label>
        <pre>Pues Aguascalientes papi</pre>
        <label>Ocupacion</label>
        <pre>La paja</pre>
        <label>Dinero</label>
        <pre>$0 me robaron hdpts</pre>
        <small><a href="/anectodas#robo-en-partido" class="primary">Leer m치s sobre esta historia...</a></small>
        <label>Deudas</label>
        <pre>Nada</pre>
      </article>
</div>