---

---

<style>
    .text {
        text-align: center;
    }
    

    header {
        text-align: center;
    }

    pre { 
        padding: 10px;
    }


    h1 {
        color: #1b7cb8;
    }

    article {
        max-width: 500px;
    }

    a:hover {
        cursor: pointer;
    }

    footer {
        text-align: center;
    }
</style>

<div class="container">
    <div class="text">
        <h1>Anectodas (chismes)</h1>
    </div>

    <div class="grid">
        <div class="nariz">
            <article>
                <header><h3>Me rompi la nariz</h3></header>
                <p>Un dia salia de la escuela y por culpa de la curiosidad y de una compañera me rompi la nariz con un paraguas, un suceso que quedo para siempre en mi vida.</p>            
                <footer><a id="nariz" class="primary">Leer más</a></footer>
            </article>

            
        </div>
        <div class="robo-en-partido">
            <article>
                <header><h3>Robo en un partido</h3></header>
                <p>Fui a un partido con mi equipo de amigos en una Liga para disfrutar del deporte, pero no me esperaba que me robarian ahi. Y me quedara pobre.</p>
                <footer><a id="robo" class="primary">Leer más</a></footer>
            </article>
        </div>
    </div>
</div>

<dialog id="nariz-dialog">
    <article>
      <header>
        <button id="close" aria-label="Close" rel="prev"></button>
        <h2>Me rompi la nariz</h2>
      </header>
     <label>Fecha del suceso</label>
      <pre>En 2017 2do de primaria</pre>
      <label>Historia</label>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere harum quam, culpa velit corporis voluptatem vel, fugit, veniam cum adipisci similique. Qui laborum ad suscipit corrupti atque voluptates nihil dolores!  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores eos eligendi nobis amet ea possimus quaerat repellat necessitatibus ducimus, molestias in illo vitae magnam et. Architecto veritatis soluta odio quae!</p>
      <footer>Articulo de "Me rompi la nariz"</footer>
    </article>
  </dialog>

<script src="../scripts/anectodasDialogs.js"></script>