---

---

<style>
    .hero {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90vh;
    }

    
    

    .text {
        align-self: center;
        text-align: center;
    }

   img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 25px;
   }

   h1 {
    font-size: 50px;
    text-align: center;
   }

   a { 
    font-size: 28px;
   }
   span {
    color: #25b9db;
   }

   article { 
    margin: 25px;
   }
</style>

<div class="hero">
    <div class="text">
        <div class="grid">
            <div class="texto-otro"><h1>Hola me llamo Sebastian y soy un <span class="typed"></span>.</h1></div>
                <div class="image"><img src="sebas.png" alt="Foto de perfil de sebastian"></div>
        </div>
        
    </div>
</div>

<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="../scripts/messageTyped.js"></script>