---

---

<style>
  nav {
    margin: 20px;
  }


  a:hover {
    text-decoration: none;
    cursor: pointer;
  }

 
  
</style>

<nav>
    <ul>
      <li><a href="/sebastian-web/"><strong>sebastianrascon.xyz</strong></a></li>
    </ul>
    <ul>
      <li><a class="secondary" id="change-theme"><i id="icon-theme" class="fa-solid fa-sun"></i></a></li>
      <li><a data-tooltip="sebastian678.0 ðŸ˜" data-placement="bottom" rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/sebastian678.0?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" class="secondary"><i class="fa-brands fa-instagram"></i></a> </li>
      <li><a href="#" data-placement="bottom" data-tooltip="Te lo paso por ig ðŸ˜ˆ" class="secondary"><i class="fa-brands fa-whatsapp"></i></a></li>
      <details class="dropdown">
        <summary>
          Menu
        </summary>
        <ul dir="rtl">
          <li><a href="/sebastian-web/sobre-mi" class="contrast">Sobre mi</a></li>
      <li><a href="/sebastian-web/novias" class="contrast">Novias</a></li>
      <li><a href="/sebastian-web/anectodas" class="contrast">Anectodas</a></li>
        </ul>
      </details>
    </li>
      
    </ul>
  </nav>

  <hr>


    
 

  <script src="../scripts/changeTheme.js"></script>