---

---

<style>
    
    .text {
        text-align: center;
    }

    pre {
        padding: 10px;
    }

    .ex {
        color: rgb(181, 28, 28)
    }

    header {
        color: #196dcd;
    }

    article {
        max-width: 500px;
    }

    .nv {
        color: #0e779b
    }
 
    
</style>

<div class="container">
    <div class="text">
        <h2>Todas mis novias a lo largo del tiempo</h2>
        <p>¿Podrias estar aqui algun dia...?</p>
    </div>
    <hr>
    <h2 class="ex">Exnovias</h2>
    <div class="grid">
        <div class="melisa">
         <article>
             <header>Melisa</header>
            
             <label>Opinion</label>
             <hr>
             <p>La verdad fue una mala relacion, para empezar nos declaramos por mensaje, desde ahi todo empezo mal, ademas era muy toxica y aveces no me hablaba, aunque aveces si me divertia pero era ocaciones escasas. <b>No la recomiendo por toxica</b></p>

             <pre>Error: No hay foto de perfil de melisa</pre>
             <footer>3 meses de relacion aprox.</footer>
           </article>
        </div>
        <div class="hanna">
            <article>
                <header>Hanna</header>
                <label>Opinion</label>
                <hr>
                <p>En esta si tuvimos un poco mas de amor, pero lo gracioso aqui es que solamente duramos 1 semana, y deje por menso a mis amigos (me aleje de ellos), aparte me fui un fin de semana a una alberca y me quede a dormir, y pasaron cosas con otra persona... <b>No la recomiendo</b></p>

                <pre>Error: No hay foto de perfil de hanna</pre>
                <footer>1 semana de relacion aprox.</footer>
              </article>
        </div>
        
     </div>

     <div class="container2">

        <h2 class="nv">Mi novia</h2>
        
        <div class="grid">
            <article>
                <header>Esta muy solo esto</header>
                <pre>Error: No hay contenido JAJAJ</pre>
                <footer>No tengo novia actualmente...</footer></article>
        </div>
     </div>
</div>